

.table-container {
  display: table;
  width: 650px;
  border-radius: 4px;
}

.table {
  width: 100%;
  cellsapcing: 10;
  border-collapse: collapse;
}

.td-custum {
  height: 40px;
  text-align: center;
  border: 1px solid #F5F5F5;
  color: #0d3a52;
}

td:first-child {
  border-left: 0;
}

td:last-child {
  border-right: 0;
}

tr:last-child > td
{
  border-bottom: none;
}

.search {
  width: 55.5%;
 margin-left: 20%;
 margin-top: 2%;
 margin-bottom: 2%;
}
.search label,.search input{
border-color: green;}

.category {
  background-color: #F5F5F5;
}

.stock {
  margin-left: 6%;
}
