body {
    font-family: sans-serif;
    background-image: linear-gradient(#FDF5E6, #FFC0CB);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  #table-container {
    display: table;
    width: 400px;
    margin: 4% auto auto auto;
    padding-top: 25px;
    background-color: #323232;
    border-radius: 4px;
  }
  
  .table {
    width: 100%;
    background-color: #fff;
    cellsapcing: 10;
    border-collapse: collapse;
  }
  
  td,th {
    height: 40px;
    text-align: center;
    border: 1px solid #F5F5F5;
    color: #323232;
  }
  
  th {
    height: 30px;
    border-left: 0;
    border-right: 0;
    font-size: 25px;
    border-bottom: 1px solid #D3D3D3;
    border-top: none;
    background-color: #323232;
    color: white;
  }
  
  td:first-child {
    border-left: 0;
  }
  
  td:last-child {
    border-right: 0;
  }
  
  tr:last-child > td
  {
    border-bottom: none;
  }
  
  .search {
    width: 85.5%;
    height: 25px;
    margin-left: 6%;
    font-size: 16px;
    padding-left: 5px;
  }
  
  .category {
    background-color: #F5F5F5;
  }
  
  .stock {
    margin-left: 6%;
  }