
.dayLabel{
    color:#0d3a52;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1.5 em;
    background-color: #F5FFFA;
}
.table{
    width: 10px;
}
.col-table{
    margin-left: 10%;
    margin-right: 10%;
}
td{
    height: 40px;
    text-align: center;
    border: 1px solid #F5F5F5;
    color: #0d3a52;

}
th{
    height: 40px;
    text-align: center;
    border: 1px solid #F5F5F5;
    color: #0d3a52;
}