.avatar-uploader > .ant-upload {
    width: 128px;
    height: 128px;
  }
  .upload{
    float: right;
    background-color: gainsboro;
    
    
  }
  .loading{
    padding: 20;
    width: 100px;
  }
  .upload-text{
    text-decoration-color: black;

  }